#home-page{
  overflow: hidden;
  --padding-BBA: 30px 0 0 120px;
  --text-width:50%;
  --h1-size:50px;
  --Mc-img-margin: 150px 0 0 50px;
  --mc-opacity:1;
  --more-info-left:-50px;
  --more-info-width:80%;
  --szkolenie-padding: 50px;
  --mc-height: 60vh;
  --cena-size:38px;


  &__BBAcademy{
    --bbt-height:120vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--padding-BBA);
    width: 100vw;
    overflow: hidden;
    h1{
      font-size: var(--h1-size);
      margin: 50px 30px 0 30px;
    }
  }



  #szkolenieMcSqt{
    width: 75vw;
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    position: relative;
    padding: var(--szkolenie-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    #mc{
      opacity: var(--mc-opacity);
      height: var(--mc-height);
      position: absolute;
      margin: var(--Mc-img-margin);
      top: 0;
      left: 0;
      z-index: -1;
    }
    .box-content{
      width: var(--text-width);

      display: flex;
      flex-direction: column;
    }
    h2{
      margin: 0;
      text-align: right;
      font-size: var(--h2-size);
      font-weight: 400;
      color: #e3d8d8;
    }
    h3{
      text-align: right;
    }
    p{
      text-align: left;

    }
    h4{
      margin: 10px 18px;
      text-align: left;
    }
    .cena{
      display: flex;
      gap: 20px;
      margin-left: 15px;
      #cena{
        font-size: var(--cena-size);
        margin: 0;
      }
      span{
        font-size: 23px;
        text-decoration: line-through;
        text-decoration-thickness: 1px;
        text-decoration-skip-ink: auto;
      }
      #info{
        height: 24px;
        filter: brightness(0%) invert(100%);
        cursor: pointer;
      }
      .info{
        display: flex;
        gap: 20px;
        h5{
          margin: 0;
          opacity: 0;
          transition: 0.4s;
        }
      }
      .info:hover{
        h5{
          opacity: 1;
        }
      }
    }
    .contactBtn{
      margin-top: 30px;
    }


  }



  #McSqt-moreInfo{
    position: relative;
    opacity: 0;
    display: none;
    flex-direction: column;
    padding: 50px;
    left: var(--more-info-left);
    width: var(--more-info-width);
    transition: 0.4s;
    background: rgb(34, 37, 34);
    z-index: -1000000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    h4{
      margin: 0;
      color: #0e980e;
    }
    p{
      font-size: 16px;
    }
    .contactBtn{
      width: 50%;
      margin-left: 25%;
    }
    img{
      top: 50px;
      right: 25px;
      position: absolute;
      height: 35px;
      filter: brightness(0%) invert(100%);
      cursor: pointer;
    }

  }
  #McSqt-moreInfo.show{
  display: block;
    z-index: 10000;
    opacity: 1;
  }
  #map{
    position: absolute;
    top: 30%;
    right: 10%;
    border-radius: 20px;
    opacity: 0.7;
    overflow: hidden;
    transition: 0.4s;
    z-index: 1000000000;
  }
  #map:hover{
    opacity: 1;
  }
  @media (max-width: 1025px) {
    --padding-BBA: 100px;
    --text-width:70%;
    --h2-size: 28px;
    --h1-size: 40px;
    --Mc-img-margin:0 0 0 -150px;
    --mc-opacity:0.3;
    --more-info-left:-50px;
    --more-info-width:70%;
    --szkolenie-padding:25px;
    --mc-height:50vh;
    --cena-size:32px;
    #map{
      display: none;
    }


  }

  @media (max-width: 600px) {
    --padding-BBA: 0;
    --text-width:95%;
    --bbt-height: 80vh;
    --h2-size: 28px;
    --h1-size: 32px;
    --Mc-img-margin: 0;
    --more-info-left:10px;
    --more-info-width:70%;
    --szkolenie-padding:25px;
    --cena-size:36px;


    #cena{

      margin: 0;
    }
   h5{
     display: none;
   }
    #info{
      display: none;
    }
    #map{
      display: none;
    }

  }


}
