#home-page{
  .socials{
    --socials-top-right:50px;
    display: flex;
    gap: 15px;
    transition: transform 0.3s ease-in-out;

    .social {
      align-items: center;
      background: #413b3b;
      border-radius: 30%;
      display: flex;
      justify-content: center;
      padding: 8px;
      img{
        width: 15px;
        filter: brightness(0%) invert(100%);
      }
    }
    .social:hover{
      background: #568c56;
    }
  }

  &__socialsTop{
    position:absolute;
    right: var(--socials-top-right);
    z-index: 100000;
  }
  &__socialsTop.show{
    transform: translate(0, -150%);
  }

  &__socialsMid{
    flex-direction: column;
    position: fixed;
    right: -10vw;
    top: 40vh;
    z-index: 1000;
  }
  &__socialsMid.show{
    transform: translate(-11vw, 0);
  }
}

@media (max-width: 930px ){
  .socials{
    --socials-top-right:100px
  }
}
