
#home-page{
  --content-width:35vw;

  &__BBTeam{
    padding-top: 30px;
    overflow: hidden;
    z-index: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    img{
      @media (max-width: 920px){
       display: none;
      }

      margin-left: 150px;
      margin-top: 70px;
      height:60vh;

    }


  }
  &__BBteam-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5vh 10vw ;
    width: var(--content-width)

  }

  .contactBtn{
    cursor: pointer;
    background: #316b31;
    border-radius: 10px;
    height: 50px;
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

  }
  .contactBtn:hover{
    transform: scale(1.1);
  }
  @media (max-width: 1030px) {

  }
  @media (max-width: 920px){
    --content-width: 100%;




    h1{
      font-size: 36px;
    }
    p{
      font-size: 16px;
    }
  }


}